.newCon {
  width: 100%;
  margin-top: 80px;
  @media (max-width: 767px) {
    margin-top: 40px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 60px;
    text-align: center;
    font-size: 3.2rem;
  }
  &__post {
    margin: 0 40px;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    &__item {
      width: 48%;
      margin-bottom: 40px;
      &:hover {
        & h2 {
          color: #0070f3;
          transition: all 0.3s;
        }
        & p {
          color: #0070f3;
          transition: all 0.3s;
        }
        & img {
          transform: scale(1.1);
          transition: all 0.5s;
        }
        & div {
          &::after {
            content: 'view more';
            text-align: center;
            display: flex;
            opacity: 1;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 2rem;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #333, $alpha: 0.3);
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.3s;
          }
        }
      }
      & div {
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        &::after {
          content: 'view more';
          text-align: center;
          display: flex;
          opacity: 0;
          justify-content: center;
          align-items: center;
          color: #fff;
          font-size: 2rem;
          width: 100%;
          height: 100%;
          background-color: rgba($color: #333, $alpha: 0.3);
          position: absolute;
          top: 0;
          left: 0;
          transition: all 0.3s;
        }
      }

      & img {
        width: 100%;
        border-radius: 8px;
        transition: all 0.5s;
      }
      & h2 {
        transition: all 0.3s;
      }
      & p {
        transition: all 0.3s;
        margin-bottom: 0;
      }
    }
    @media (max-width: 767px) {
      display: block;
      margin: 0 16px;
      &__title {
        margin-bottom: 40px;
      }
      &__item {
        width: 100%;
        display: block;
        margin-bottom: 24px;
      }
    }
  }
}
